flow.json
[
  {
    "id": "a1f1d1c1a1b1a1e1",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "a1f1d1c1a1b1a1e1",
    "name": "data in",
    "topic": "devices/#",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 130,
    "y": 160,
    "wires": [["switch_node", "debug_raw"]]
  },
  {
    "id": "switch_node",
    "type": "switch",
    "z": "a1f1d1c1a1b1a1e1",
    "name": "",
    "property": "payload.device_type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "vitals",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "room",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 320,
    "y": 160,
    "wires": [["mongodb_vitals", "debug_1"], ["mongodb_room", "debug_1"]]
  },
  {
    "id": "mongodb_vitals",
    "type": "mongodb out",
    "z": "a1f1d1c1a1b1a1e1",
    "mongodb": "mongodb_config",
    "name": "vitals-data",
    "collection": "vitals-data",
    "payonly": true,
    "upsert": false,
    "multi": false,
    "operation": "insert",
    "x": 570,
    "y": 120,
    "wires": []
  },
  {
    "id": "mongodb_room",
    "type": "mongodb out",
    "z": "a1f1d1c1a1b1a1e1",
    "mongodb": "mongodb_config",
    "name": "room-temp-data",
    "collection": "room-temp-data",
    "payonly": true,
    "upsert": false,
    "multi": false,
    "operation": "insert",
    "x": 580,
    "y": 200,
    "wires": []
  },
  {
    "id": "debug_raw",
    "type": "debug",
    "z": "a1f1d1c1a1b1a1e1",
    "name": "debug raw",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 320,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug_1",
    "type": "debug",
    "z": "a1f1d1c1a1b1a1e1",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 160,
    "wires": []
  },
  {
    "id": "mqtt_local",
    "type": "mqtt-broker",
    "name": "localhost",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "mongodb_config",
    "type": "mongodb-config",
    "hostname": "127.0.0.1",
    "port": "27017",
    "db": "patient-monitoring",
    "name": "localhost Mongo"
  }
]
